body
{
    background-color: #0e1111;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin:0;
    overflow: hidden;
}
table{
    border: 0.5px solid;
}
table, tr {
    width: 100%;
}
td{
    text-align: center;
}

th{
    border-bottom: 1px solid;
}

.labels
{
    font-family:"Lato",sans-serif;
    font-style: italic;
}

.buttons
{
    width:25%;
    border-radius: 30px;
    padding: 5px;
    background-image: linear-gradient(to right,#934DD2, #733FD7);
    border: 2px solid;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    transition: all 1s;
    border-color:#0e1111;
}

.buttons:hover{
    border-color:#fff
}

#T_TYPE{
    background-color: transparent;
    color: #fff;
    font-family: "Lato";
    border:none;
}

#T_WAIT{
    background-color: transparent;
    color: #fff;
    font-family: "Lato";
    border:none; 
}

.valuesBPM{
    background-color: transparent;
    color: #fff;
    font-family: "Lato";
    font-size:36px;
    font-weight: 500;
    border:none; 

}

#sidePanel{
    width: 20%;
    height: 100vh;
    background-color: #0e1111;
    float: left;
}  

#sidePanelHeader{
    margin: 10px 20px;
}

#mainPanel{
    width: 80%;
    height: 100%;
    background-color: #0e1111;
    float: left;
}

#mainPanelHeader{
    width: 100%;
    height: 30vh;
}

#mainPanel-left{
    width: 75%;
    height:100%;
    float:left;
    background-color: #0e1111;
    /* position: relative; */
}

#player-container{
    /* position:absolute;
    top: 50%;
    transform: translateY(-50%); */
    margin: 10px 20px;
}

#cp-label{
    font-size: 24px;
    font-weight:400;
    margin: 25px 0px 10px 0px;
}

#song-name{
    margin:0px 0px 20px 0px;
    font-size: 48px;
    font-weight: 600;
}

#mainPanel-right{
    width: 25%;
    height:100%;
    float:left;
    background-color: #0e1111;
}

#bpm-showcase{
    position: relative;
    width: 100%;
    height:100%;
    text-align:left;
}

#bpm-container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#bpm-indicator{
    margin:0px;
    font-size: 96px;
    font-weight: 700;
}
#bpm-label{
    font-size: 24px;
    font-weight: bold;
    margin:-10px 0px 0px 0px;
}
#wait-indicator{
    margin:10px 10px;
}
#sort-indicator{
    margin:10px 10px;
}

#queue{
    background-color: #0e1111;
    width: 100%;
    height: 70vh;
    overflow: auto;
}
